@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@keyframes spinUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes spinDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: "JetBrains Mono", monospace !important;
  background: url(../images/space.jpg) no-repeat center;
  background-size: cover;
}

img {
  width: 100%;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}
#form .decor-el {
  position: absolute;
  z-index: 0;
}
#form .decor-el:nth-child(1) {
  top: 12%;
  left: 9%;
  width: 70px;
  animation: spinUp ease 5s alternate-reverse infinite;
}
#form .decor-el:nth-child(2) {
  top: 30%;
  right: 6%;
  width: 121px;
  animation: spinUp ease 5s alternate infinite;
}
@media only screen and (max-width: 576.98px) {
  #form .decor-el:nth-child(2) {
    display: none;
  }
}
#form .decor-el:nth-child(3) {
  bottom: 6%;
  left: 11%;
  width: 164px;
  animation: spinDown ease 5s alternate-reverse infinite;
}

.form-container {
  max-width: 500px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  flex-direction: column;
  background-color: #292929;
  border: solid 2px #3b3b3b;
  position: relative;
  z-index: 2;
}
.form-container .image {
  width: 100px;
  margin-bottom: 30px;
  transition: all ease 0.2s;
}
.form-container .image:hover {
  transform: scale(1.1);
}
.form-container .title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.form-container .desc {
  color: #fff;
  margin-bottom: 20px;
  font-size: 14px;
}
.form-container .link-container {
  width: 100%;
  max-width: 311px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 576.98px) {
  .form-container .link-container {
    flex-direction: column;
    gap: 10px;
  }
}
.form-container .link-container .link-button {
  border-radius: 10px;
  color: #fff;
  background-color: #4eb058;
  padding: 15px 30px;
  transition: all ease 0.2s;
  text-align: center;
}
@media only screen and (max-width: 576.98px) {
  .form-container .link-container .link-button {
    width: 100%;
  }
}
.form-container .link-container .link-button:hover {
  background-color: #3f8846;
}
.form-container form {
  width: 100%;
  max-width: 311px;
}
.form-container form input {
  width: 100%;
}
.form-container form input[type=text] {
  padding: 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  transition: all ease 0.2s;
}
.form-container form input[type=text]:focus {
  border-color: #fff;
}
.form-container form .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #4eb058;
  border-radius: 10px;
  transition: all ease 0.2s;
  padding: 15px 30px;
}
.form-container form .submit .text {
  color: #fff;
}
.form-container form .submit .icon {
  width: 30px;
  display: none;
  animation: spin 3s linear infinite;
}
.form-container form .submit.loading {
  background-color: #3f8846;
  pointer-events: none;
}
.form-container form .submit.loading .text {
  display: none;
}
.form-container form .submit.loading .icon {
  display: block;
}
.form-container form .submit:hover {
  background-color: #3f8846;
}